<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to my Ruby on Rails 7 app</title>
  <style>
    body {
      background-color: #1a202c;
    }
    #time {
      color: #fff;
    }
  </style>
</head>
<body>
  <div class="container mx-auto">
    <h1 class="text-4xl text-center text-slate-100">La hora actual es:</h1>
    <h2 class="text-6xl text-center"><div data-controller="clock"><span data-clock-target="time" class="text-yellow-200"></span></div></h2>
  </div>
</body>
</html>