/* @tailwind base;
@tailwind components;
@tailwind utilities; */

body {
    overflow: hidden;
}
.msg-form {
    width: 100%;
    height: 56px;
    padding: 10;
}
#single_room {
    height: calc(100vh - 150px);
}
#messages {
    height: 85vh;
    overflow-x: hidden;
    overflow-y: scroll;
}
#room_container {
    height: 100vh;
    margin-right: 0px !important;
}
#side_panel {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: scroll;
    margin-bottom: 55px;
}
#chatroom_container {
    height: 100vh;
    margin-right: 0px !important;
    overflow-x: hidden;
    overflow-y: hidden;
}
.msg-content{
    width: 80%;
    margin-right: 5px;
}
.message-box {
    word-wrap: break-word;
    width: fit-content;
    max-width: 40%;
    padding: 5px;
    border-radius: 10px;
    margin-bottom: 10px;
    background-color: #555555;
    padding: 10px;
  }

.user_row {
    height: 50px;
    padding: 10px;
    border-bottom: 1px solid #555555;
  }
  
  .username {
    overflow: hidden;
    font-size: x-large;
    font-family: monospace;
  }
  
  .chat_pfp {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
  }
  .user_list_item {
    height: auto;
    /* background-color: #343a40 !important; */
  }
  .room_list_item {
    height: auto;
    /* background-color: #343a40 !important; */
    color: #fff;
    font-size: x-large;
    font-family: monospace;
  }
  
  .name {
    margin-top: 15px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    font-size: 18px;
  }
  .time {
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 12px;
  }
.icon_container {
    width: 50px;
    height: 50px;
    position: relative;
}
.status-circle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    bottom: 10px;
    right: -25px;
    position: relative;
}
.image-upload > input {
  display: none;
}
.upload-button {
  padding: 10px;
  font-size: 25px;
}
.upload-button:hover {
  cursor: pointer;
  opacity: 0.75;
}
/**
    * Adds a horizontal scroll bar that hides extra attachments
    */
#attachment-previews {
  position: absolute;
  display: inline;
  bottom: 120px;
  height: 70px;
  width: 290px;
  overflow-y: hidden;
  overflow-x: auto;
  direction: rtl;
  white-space: nowrap;
}
.attachment-preview {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  margin-right: 10px;
  max-height: 50px;
  background-size: contain;
  font-size: 50px;
  text-align: bottom;
  vertical-align: middle;
  line-height: 0px;
}
.cancel-upload-button {
  position: absolute;
  top: 0%;
  right: 0%;
  font-size: 15px;
  padding: 3px;
  color: rgb(224, 0, 0);
  opacity: 0.75;
}
.cancel-upload-button:hover {
  cursor: pointer;
  opacity: 0.9;
}
.attachment-image-container {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 100%;
  font-size: 50px;
  text-align: bottom;
  vertical-align: middle;
  line-height: 0px;
}
.preview-image {
  display: block;
  position: absolute;
  background-size: contain;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.message-image-container {
  width: 150px;
  height: 150px;
  margin: 0;
  padding: 0;
}
.message-image {
  width: auto;
  height: 130px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  
}
.message-video {
  width: auto;
  height: 300px;
  margin: 0;
  padding: 0;
}
.message-audio {
  width: 100%;
  height: 50px;
  margin: 0;
  padding: 0;
}
.message-file {
  color: white;
  text-decoration: underline white;
}
.last-message,
.last-message-time {
  font-size: 12px;
  color: #aaa;
  margin-top: 5px;
  margin-right: 10px;
}

.msg-role-user {
  color: #ffee00;
}

.msg-role-admin {
  color: #00e5ff;
}

a {
  text-decoration: none !important;
}
